body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Raleway", sans-serif;
    
    background-image: linear-gradient(to bottom, #000F55, #6C0034 );
    background-repeat: no-repeat;
    background-size: 50% 100% ;
}

.Logo{
    margin-top: 200px;

}
.HE{
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 90px;    
}
aside{
    color: white;
}
.asidep{
    font-size: 30px;
}
main{

    margin-left: 955px;
    margin-top: -900px;
}
form{
    border-radius: 5px;
    width: 450px;
    height: 500px;
    text-align: center;
    margin-left: 250px;
    box-shadow:  5px 5px 10px 5px  rgba(0, 0, 0, 0.108);

}
.topo{
    margin-top: 100px;
    text-align: center;
}
h2{
    color: #000F55;
    margin-top: -40px;
    margin-left: -10px;
    text-align: center;
    font-size: 30px;
}
.bdv{
    color: #000F55;
    padding: 20px;
    font-size: 20px;
}
.p1{
    margin-top: -10px;
}
input{
    height: 40px;
    width: 300px; 
    border-radius: 8px;
    border-style: solid;
}
.senha{
    margin-top: 30px;
}
.esqsenha{
    margin-left: 150px;
    color: #6C0034;
    
}
.npossuicnt{
    font-size: 15px;
    color: black;

}
select{
    height: 40px;
    width: 300px; 
    border-radius: 8px;
    border-style: solid;
}
a{
    text-decoration: none;
}

button{
    height: 40px;
    width: 300px; 
    border-radius: 8px;
    border-style: none;
    background-color: #000F55;
    color: white;
}
